<div class="w-full border-b flex justify-between items-center">
  <div class="h-32 flex items-center gap-4">
    <div class="w-16 h-16 flex items-center justify-center rounded-full border">
      <fa-icon class="text-xl" [icon]="faNotification" />
    </div>
    <div>
      <h3>Title</h3>
      <h6>content</h6>
    </div>
  </div>
  <div class="flex items-center gap-6">
    <app-dropdown [options]="options" />
    <button class="relative">
      <div class="bg-red-500 w-1 h-1 rounded-full absolute top-0 right-0"></div>
      <fa-icon class="text-xl" [icon]="faNotification" />
    </button>
  </div>
</div>
