<div class="relative text-left">
  <div>
    <button
      (click)="toggleDropdown()"
      [class]="
        'dropdown ' +
        (variant === 'primary' ? 'bg-secondary text-white' : 'border') +
        (direction === 'ltr' ? '' : ' flex-row-reverse')
      "
    >
      <span> {{ selected || defaultValue }}</span>
      <div>
        <fa-icon [icon]="icon || arrowDown" class="text-sm" />
      </div>
    </button>
  </div>
  <div
    *ngIf="isOpen"
    class="absolute right-0 z-10 mt-2 w-full border shadow-xl rounded-xl bg-white"
  >
    <a
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu"
      *ngFor="let option of options"
      (click)="selectOption(option)"
      class="my-1 cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-primary"
      role="menuitem"
    >
      {{ option }}
    </a>
  </div>
</div>
