<div class="w-full min-h-screen flex flex-col sticky top-0">
  <div class="border-l px-6 grow flex flex-col">
    <div class="border-b h-32 flex items-center gap-4">
      <img src="logo.png" alt="logo" class="w-16" />
      <div>
        <h3>Title</h3>
        <h6>content</h6>
      </div>
    </div>
    <div class="pt-8 border-b grow">
      <p class="mb-4">lorem</p>
      <app-link
        *ngFor="let link of links; let i = index"
        class="w-full text-right"
        [icon]="link.icon"
        [href]="link.href"
      >
        {{ link.name }}
      </app-link>
      <p class="my-4">lorem</p>
      <app-link class="w-full text-right" [icon]="faFile" href="/route-2">
        link
      </app-link>
    </div>
  </div>
  <div class="border-b py-8 px-6 flex items-center gap-4">
    <img src="logo.png" alt="logo" class="w-16" />
    <div>
      <h3>Title</h3>
      <h6>ahmedalharby&#64;gmail.com</h6>
    </div>
  </div>
</div>
